<div class="auth">
    <label>User Name:</label>
    <input type="text" ng-model="login"></input>
    <label>Password:</label>
    <input type="text" ng-model="passwd"></input>
    <button ng-click="doLogin()">{{logged|loginBtn}}</button>
</div>
