<div>
    <style>
        input, label, button {
            width:80px;
            display:block;
            float:left;
        }
        button {width:auto;}
        ul { display:block; position:relative; margin-top:20px; }
        li {
            float:left;
            position:relative;
            clear:both;
            width:99%;
            list-style:none;
        }
        label {
            margin-right:6px;
            padding-left:2px;
        }
    </style>
    <ul>
        <li>
            <button ng-click="newUser()">New</button>
            <button ng-click="getUsers()">Load</button>
        </li>
        <li>
            <label>Login</label>
            <label>Last</label>
            <label>First</label>
            <label>Email</label>
            <label>Perms</label>
        </li>
        <li ng-repeat="(idx, user) in users">
            <input type="text" ng-model="user.login"></input>
            <input type="text" ng-model="user.last"></input>
            <input type="text" ng-model="user.first"></input>
            <input type="text" ng-model="user.email"></input>
            <input type="text" ng-model="user.perms"></input>
            <button ng-click="delUser(idx)">Del</button>
            <button ng-click="addUser(idx)" ng-show="user.guid == ''">Add</button>
            <button ng-click="updUser(idx)" ng-show="user.guid != ''">Upd</button>
            <input type="text" ng-model="user.passwd" placeholder="password"></input>
            <button ng-click="setPw(idx)"   ng-show="user.guid != ''">Set Password</button>
        </li>
    </ul>
</div>
